<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>latest-rates</key>
	<string>http://data.fixer.io/api/latest</string>
	<key>currency-convert</key>
	<string>http://data.fixer.io/api/convert</string>
</dict>
</plist>
